body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 

@import './theme.css';

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

#background {
fill: var(--background-color);
}

path.cls-13.banner-text {
fill: var(--banner-text-color);
}

path#bannerBG2 {
fill: var(--banner-BG2);
}

.footer {
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
  padding: 20px 0;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  padding: 5px 0;
}

.text-color {
  color: var(--text-color);
}